$color-bg: #2f2f32;
$color-bg1: #28282b;
$color-fg: #ced7e0;
$color-gray: #93a0ab;
$color-primary: #ee6c4f;
$color-secondary: #f1d55c;
$color-tertiary: #71a6e5;
$color-selection: #86878e80;
$color-activeBg: #696a7340;
$color-activeOutline: #4f5059;
